/* 
  Icon 
  From: http://andymatthews.net/code/jQuery-Mobile-Icon-Pack/builder/
*/
.ui-icon-home-w:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M392.857%20276.786v133.929q0%207.254-5.301%2012.556t-12.556%205.301h-107.143v-107.143h-71.429v107.143h-107.143q-7.254%200-12.556-5.301t-5.301-12.556v-133.929q0-0.279%200.14-0.837t0.14-0.837l160.435-132.254%20160.435%20132.254q0.279%200.558%200.279%201.674zM455.078%20257.534l-17.299%2020.647q-2.232%202.511-5.859%203.069h-0.837q-3.627%200-5.859-1.953l-193.081-160.993-193.081%20160.993q-3.348%202.232-6.696%201.953-3.627-0.558-5.859-3.069l-17.299-20.647q-2.232-2.79-1.953-6.557t3.069-5.999l200.614-167.132q8.929-7.254%2021.206-7.254t21.206%207.254l68.081%2056.919v-54.409q0-3.906%202.511-6.417t6.417-2.511h53.571q3.906%200%206.417%202.511t2.511%206.417v113.839l61.105%2050.781q2.79%202.232%203.069%205.999t-1.953%206.557z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}

.ui-icon-home-b:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M392.857%20276.786v133.929q0%207.254-5.301%2012.556t-12.556%205.301h-107.143v-107.143h-71.429v107.143h-107.143q-7.254%200-12.556-5.301t-5.301-12.556v-133.929q0-0.279%200.14-0.837t0.14-0.837l160.435-132.254%20160.435%20132.254q0.279%200.558%200.279%201.674zM455.078%20257.534l-17.299%2020.647q-2.232%202.511-5.859%203.069h-0.837q-3.627%200-5.859-1.953l-193.081-160.993-193.081%20160.993q-3.348%202.232-6.696%201.953-3.627-0.558-5.859-3.069l-17.299-20.647q-2.232-2.79-1.953-6.557t3.069-5.999l200.614-167.132q8.929-7.254%2021.206-7.254t21.206%207.254l68.081%2056.919v-54.409q0-3.906%202.511-6.417t6.417-2.511h53.571q3.906%200%206.417%202.511t2.511%206.417v113.839l61.105%2050.781q2.79%202.232%203.069%205.999t-1.953%206.557z%22%20fill%3D%22%23000000%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}

.ui-icon-table-w:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M142.857%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM142.857%20276.786v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM285.714%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM142.857%20169.643v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM285.714%20276.786v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM428.571%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM285.714%20169.643v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM428.571%20276.786v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM428.571%20169.643v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM464.286%2080.357v303.571q0%2018.415-13.114%2031.529t-31.529%2013.114h-375q-18.415%200-31.529-13.114t-13.114-31.529v-303.571q0-18.415%2013.114-31.529t31.529-13.114h375q18.415%200%2031.529%2013.114t13.114%2031.529z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}

.ui-icon-table-b:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M142.857%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM142.857%20276.786v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM285.714%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM142.857%20169.643v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM285.714%20276.786v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM428.571%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM285.714%20169.643v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM428.571%20276.786v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM428.571%20169.643v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-89.286q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h89.286q3.906%200%206.417-2.511t2.511-6.417zM464.286%2080.357v303.571q0%2018.415-13.114%2031.529t-31.529%2013.114h-375q-18.415%200-31.529-13.114t-13.114-31.529v-303.571q0-18.415%2013.114-31.529t31.529-13.114h375q18.415%200%2031.529%2013.114t13.114%2031.529z%22%20fill%3D%22%23000000%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}

.ui-icon-tag-w:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M125%20125q0-14.788-10.463-25.251t-25.251-10.463-25.251%2010.463-10.463%2025.251%2010.463%2025.251%2025.251%2010.463%2025.251-10.463%2010.463-25.251zM422.712%20285.714q0%2014.788-10.324%2025.112l-136.998%20137.277q-10.882%2010.324-25.391%2010.324-14.788%200-25.112-10.324l-199.498-199.777q-10.603-10.324-17.997-28.181t-7.394-32.645v-116.071q0-14.509%2010.603-25.112t25.112-10.603h116.071q14.788%200%2032.645%207.394t28.46%2017.997l199.498%20199.219q10.324%2010.882%2010.324%2025.391z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}

.ui-icon-tag-b:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M125%20125q0-14.788-10.463-25.251t-25.251-10.463-25.251%2010.463-10.463%2025.251%2010.463%2025.251%2025.251%2010.463%2025.251-10.463%2010.463-25.251zM422.712%20285.714q0%2014.788-10.324%2025.112l-136.998%20137.277q-10.882%2010.324-25.391%2010.324-14.788%200-25.112-10.324l-199.498-199.777q-10.603-10.324-17.997-28.181t-7.394-32.645v-116.071q0-14.509%2010.603-25.112t25.112-10.603h116.071q14.788%200%2032.645%207.394t28.46%2017.997l199.498%20199.219q10.324%2010.882%2010.324%2025.391z%22%20fill%3D%22%23000000%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}

.ui-icon-share-square-w:after { 
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M392.857%20275.949v72.266q0%2033.203-23.577%2056.78t-56.78%2023.577h-232.143q-33.203%200-56.78-23.577t-23.577-56.78v-232.143q0-33.203%2023.577-56.78t56.78-23.577h71.149q3.627%200%206.278%202.651t2.651%206.278q0%207.534-7.254%208.929-21.484%207.254-37.109%2016.741-2.79%201.116-4.464%201.116h-31.25q-18.415%200-31.529%2013.114t-13.114%2031.529v232.143q0%2018.415%2013.114%2031.529t31.529%2013.114h232.143q18.415%200%2031.529-13.114t13.114-31.529v-59.71q0-5.301%205.022-8.091%207.813-3.627%2015.067-10.324%204.464-4.464%209.766-2.232%205.859%202.511%205.859%208.091zM458.984%20137.556l-107.143%20107.143q-5.022%205.301-12.556%205.301-3.348%200-6.976-1.395-10.882-4.743-10.882-16.462v-53.571h-44.643q-90.123%200-122.21%2036.551-33.203%2038.226-20.647%20131.976%200.837%206.417-5.581%209.487-2.232%200.558-3.348%200.558-4.464%200-7.254-3.627-2.79-3.906-5.859-8.649t-11.021-19.113-13.812-27.762-10.742-31.808-4.883-34.040q0-13.672%200.977-25.391t3.906-25.112%207.813-24.554%2013.114-22.74%2019.113-20.647%2026.367-17.16%2034.738-13.532%2044.503-8.51%2054.827-3.069h44.643v-53.571q0-11.719%2010.882-16.462%203.627-1.395%206.976-1.395%207.254%200%2012.556%205.301l107.143%20107.143q5.301%205.301%205.301%2012.556t-5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}

.ui-icon-share-square-b:after { 
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M392.857%20275.949v72.266q0%2033.203-23.577%2056.78t-56.78%2023.577h-232.143q-33.203%200-56.78-23.577t-23.577-56.78v-232.143q0-33.203%2023.577-56.78t56.78-23.577h71.149q3.627%200%206.278%202.651t2.651%206.278q0%207.534-7.254%208.929-21.484%207.254-37.109%2016.741-2.79%201.116-4.464%201.116h-31.25q-18.415%200-31.529%2013.114t-13.114%2031.529v232.143q0%2018.415%2013.114%2031.529t31.529%2013.114h232.143q18.415%200%2031.529-13.114t13.114-31.529v-59.71q0-5.301%205.022-8.091%207.813-3.627%2015.067-10.324%204.464-4.464%209.766-2.232%205.859%202.511%205.859%208.091zM458.984%20137.556l-107.143%20107.143q-5.022%205.301-12.556%205.301-3.348%200-6.976-1.395-10.882-4.743-10.882-16.462v-53.571h-44.643q-90.123%200-122.21%2036.551-33.203%2038.226-20.647%20131.976%200.837%206.417-5.581%209.487-2.232%200.558-3.348%200.558-4.464%200-7.254-3.627-2.79-3.906-5.859-8.649t-11.021-19.113-13.812-27.762-10.742-31.808-4.883-34.040q0-13.672%200.977-25.391t3.906-25.112%207.813-24.554%2013.114-22.74%2019.113-20.647%2026.367-17.16%2034.738-13.532%2044.503-8.51%2054.827-3.069h44.643v-53.571q0-11.719%2010.882-16.462%203.627-1.395%206.976-1.395%207.254%200%2012.556%205.301l107.143%20107.143q5.301%205.301%205.301%2012.556t-5.301%2012.556z%22%20fill%3D%22%23000000%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 20px;
  border-radius: 0;
}


/* 
  buildin icon 
*/
.ui-icon-alert:after,
.ui-icon-power:after,
.ui-icon-clock:after,
.ui-icon-info:after,
.ui-icon-action:after,
.ui-icon-audio:after,
.ui-icon-back:after,
.ui-icon-bars:after,
.ui-icon-bullets:after,
.ui-icon-calendar:after,
.ui-icon-camera:after,
.ui-icon-edit:after,
.ui-icon-search:after,
.ui-icon-gear:after,
.ui-icon-star:after {
  background-size: 18px;
  border-radius: 0;
}

.ui-icon-action:after {
  background-position-y: 0;
}

.ui-icon-alert:after {
  background-size: 20px;
  background-position-y: 3px;
}

/*
  Checkbox Icon
*/
html .ui-alt-icon.ui-btn.ui-checkbox-on:after,
html .ui-alt-icon .ui-btn.ui-checkbox-on:after {
  /* White */
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M466.239%20157.924q0%2011.161-7.813%2018.973l-239.956%20239.956q-7.813%207.813-18.973%207.813t-18.973-7.813l-138.951-138.951q-7.813-7.813-7.813-18.973t7.813-18.973l37.946-37.946q7.813-7.813%2018.973-7.813t18.973%207.813l82.031%2082.31%20183.036-183.315q7.813-7.813%2018.973-7.813t18.973%207.813l37.946%2037.946q7.813%207.813%207.813%2018.973z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
}

/*
  For Mobile
*/
body:not(.ui-desktop) ul.ui-listview > li.ui-li-divider,
body:not(.ui-desktop) div.ui-header > .ui-title {
  border-color: #d00;
  background-color: #d00;
  color: white;
}

body:not(.ui-desktop) .ui-checkbox-on:after,
body:not(.ui-desktop) .ui-flipswitch-active.ui-flipswitch,
body:not(.ui-desktop) .ui-btn-active {
  border-color: #d00!important;
  background-color: #d00 !important;
  color: white;
}

/*
  For Desktop
*/

body.ui-desktop ul.ui-listview > li.ui-li-divider,
body.ui-desktop div.ui-header > .ui-title
{
  border-color: #00b;
  background-color: #00b;
  color: white;
}

body.ui-desktop .ui-checkbox-on:after,
body.ui-desktop .ui-flipswitch-active.ui-flipswitch,
body.ui-desktop .ui-btn-active {
  border-color: #00b!important;
  background-color: #00b!important;
  color: white;
}

/*
  Loader Image
*/
.ui-loader > .ui-img-loading {
  background-image: url('../imgs/logo.png');
  height: 100px;  
  width: 300px;
}

/*
  Header Title Logo
*/
.ui-header > .ui-title.ui-img-app {
  background-image: url('../imgs/logo.png');
  background-size: auto 5em;  /* image height */
  height: 5em;                /* image height */
  padding-left: 18em;         /* image width */
  border-color: white !important;
  background-color:white !important;
  color: black !important;
}

@media (max-width: 28em) {
  .ui-header > .ui-title.ui-img-app {
    background-size: auto 2.5em;  /* image height */
    height: 2.5em;                /* image height */
    padding-left: 9em;            /* image width */
  }
}

.ui-toaster > div > p {
  margin: 0;
}